.bag {
  position: relative;
  width: calc(10px + 1vw);
  height: calc(10px + 1vw);
  margin-left: 60%;
  margin-right: calc(10px + 1vw);
  cursor: pointer;
  /* top: 10px; */
}
.number{
  position: absolute;
  left: 105%;
  top: -50%;
/* left: 5px; */
}

.bagCont {
  display: flex;
  position: relative;
  align-items: center;
}
