.MyModal_myModalContent__gQngB {
  background: linear-gradient(-20deg, #aaaaaa, #d3d3d3, #ffffff, #d3d3d3, #aaaaaa) !important;
  /* background-size: 400% 400%  !important; */
  animation: gradient 15s ease infinite !important;
}

@keyframes gradient{
  0% {
      background-position: 0% 50% !important;
  }
  50% {
      background-position: 100% 50% !important;
  }
  100% {
      background-position: 0% 50% !important;
  }
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root{
  color: #eeeeee !important;
  background-color: #595959 !important;
  cursor: pointer !important;
  outline: none !important;
  transition: 2s ease-in-out !important;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root:hover{
  color: #242424 !important;
  transition: 3s ease-in-out !important;
  background: rgb(181, 181, 181) !important;
}

.css-1999axt-MuiAvatar-root{
  background-color: #5a2c3f !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  font: inherit !important;
    letter-spacing: inherit !important;
    color: currentColor !important;
    padding: 4px 0 5px ;
    border: 0 !important;
    box-sizing: content-box !important;
    background: none ;
    height: 1.4375em !important;
    margin: 0 !important;
    -webkit-tap-highlight-color: transparent !important;
    display: block !important;
    min-width: 0 !important;
    width: 100% !important;
    -webkit-animation-name: mui-auto-fill-cancel !important;
    animation-name: mui-auto-fill-cancel !important;
    -webkit-animation-duration: 10ms !important;
    animation-duration: 10ms !important;
    padding: 16.5px 14px !important
}

.css-ag7rrr-MuiTypography-root{
  margin-bottom: 1em !important;
  color: #242424 !important;
}

.css-1w1rijm-MuiButtonBase-root-MuiButton-root{
  display: flex !important;
  justify-content: center !important;
  color: #242424 !important;
}