.authIcon{
  width: calc(10px + 1vw);
  height: calc(10px + 1vw);
  cursor: pointer;
}

.basketAndExit{
  display: flex;
  justify-content: end;
  align-items: center;
}

.allmanHome{
  cursor: pointer;
}